<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saaral Automobiles</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='css/metisMenu.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='css/morris.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <!-- AutoCompleter CSS-->
    <link href="{{ url_for('static', filename='css/jquery.autocomplete.css')}}" rel="stylesheet" type="text/css">
    
    <!-- TagsInput CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap-tagsinput.css')}}" rel="stylesheet" type="text/css">

    <!-- AutoComplete-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" /> 

</head>

<body>
        <div id="wrapper">
        {% block content %}
        {% endblock %}
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                    <div class="panel-body" style="text-align: center">
                        <p>Copyright@Priyanka</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <div class="panel-body" style="text-align: center">
                                <p>Developers:Priyanka</p>
                                    </div>
                                </div>
                    </div>
    </div>
    <!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!--Fontawesome 6-->
<script src="https://kit.fontawesome.com/cecafaebc2.js" crossorigin="anonymous"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js')}}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ url_for('static', filename='js/raphael.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/morris.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/morris-data.js')}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js')}}"></script>

<!-- Autocomplete JS-->
<!-- <script src="{{ url_for('static', filename='js/jquery.autocomplete.js')}}"></script> -->

<!-- Tags Input JS-->
<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js')}}"></script>

<!-- Autocomplete JS-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 


<script>
function gettime(){
    document.getElementById("browser_time").value = new Date();
}
gettime();
</script>
<!--script for autocomplete-->
<script>
    var tags = '{{tags|tojson}}';
    const tagsArray = JSON.parse(tags);
    $('#search_gene').autocomplete({
        source: function( request, response ) {
          var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
          response( $.grep( tagsArray, function( item ){
              return matcher.test( item );
          }) );
      }
    });
</script>
</body>
</html> 