{% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="login-panel panel panel-default" style="margin-top: 10px;">
                    <div class="panel-heading">
                        <form method="get" action="/home/" onsubmit="this.action = this.action + this.search_gene.value;">
                        <label class="panel-title">Search Gene here:</label>
                        <input type="search" id="search_gene" name="search_gene">
                        <input type="submit" value="search"/>
                    </form>
                    </div>
                                <div class="panel-body" style="text-align: center">
                                    <form method="get" action="/">
                                        {% if char %}
                                        <button type="submit">Back</button>
                                        {% endif %}
                                    </form>
                                </div>
                    <div class="panel-body">
                        <table id="stock_table" class="table table-striped table-bordered nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Gene_name</th>
                                    <th>Transcript_id</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for gene in all_gene_dicts %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{gene['Gene_name']}}</td>
                                    <td>{{gene['Transcript_id']}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <form accept="/">
                            <a href="/home/A">A</a>
                            <a href="/home/B">B</a>
                            <a href="/home/C">C</a>
                            <a href="/home/A">D</a>
                            <a href="/home/A">E</a>
                            <a href="/home/A">F</a>
                            <a href="/home/A">G</a>
                            <a href="/home/A">H</a>
                            <a href="/home/A">I</a>
                            <a href="/home/A">J</a>
                            <a href="/home/A">K</a>
                            <a href="/home/A">L</a>
                            <a href="/home/A">M</a>
                            <a href="/home/A">N</a>
                            <a href="/home/A">O</a>
                            <a href="/home/A">P</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            <a href="/home/A">A</a>
                            
                        </form>
                        </div>
                        <div style="text-align: center">
                        <div class="panel-body" style="text-align: center">
                            <form method="get" action="/">
                                {% if char %}
                                <button type="submit">Back</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
